# SPDX-License-Identifier: GPL-2.0-or-later

config INFINIBAND_RTRS
	tristate
	depends on INFINIBAND_ADDR_TRANS

config INFINIBAND_RTRS_CLIENT
	tristate "RTRS client module"
	depends on INFINIBAND_ADDR_TRANS
	select INFINIBAND_RTRS
	help
	  RDMA transport client module.

	  RTRS client allows for simplified data transfer and connection
	  establishment over RDMA (InfiniBand, RoCE, iWarp). Uses BIO-like
	  READ/WRITE semantics and provides multipath capabilities.

config INFINIBAND_RTRS_SERVER
	tristate "RTRS server module"
	depends on INFINIBAND_ADDR_TRANS
	select INFINIBAND_RTRS
	help
	  RDMA transport server module.

	  RTRS server module processing connection and IO requests received
	  from the RTRS client module, it will pass the IO requests to its
	  user eg. RNBD_server.
