config INFINIBAND_IBTRS_CLIENT
	tristate "InfiniBand IBTRS client"
	select INFINIBAND_IBTRS
	help
	  Support for the simplified data transfer over InfiniBand.
	  The IBTRS protocol is defined by the ProfitBricks GmbH.
