config BLK_DEV_IBNBD
	boolean

config BLK_DEV_IBNBD_CLIENT
	tristate "Network block device over Infiniband client support"
	select BLK_DEV_IBNBD
	select INFINIBAND_IBTRS_CLIENT
	help
	  Saying Y here will allow your computer to be a client for network
	  block devices over Infiniband, i.e. it will be able to use block
	  devices exported by servers (mount file systems on them etc.).
	  Communication between client and server works over Infiniband
	  networking, but to the client program this is hidden: it looks
	  like a regular local file access to a block device special file
	  such as /dev/ibnbd0.

	  To compile this driver as a module, choose M here: the
	  module will be called ibnbd_client.

	  If unsure, say N.

config BLK_DEV_IBNBD_SERVER
	tristate "Network block device over Infiniband server support"
	select BLK_DEV_IBNBD
	select INFINIBAND_IBTRS_SERVER
	help
	  Saying Y here will allow your computer to be a server for network
	  block devices over Infiniband, i.e. it will be able to use block
	  devices exported by servers (mount file systems on them etc.).
	  Communication between client and server works over Infiniband
	  networking, but to the client program this is hidden:
	  it looks like a regular local file access to a block device
	  special file such as /dev/ibnbd0.

	  To compile this driver as a module, choose M here: the
	  module will be called ibnbd_client.

	  If unsure, say N.
