config INFINIBAND_IBTRS
	tristate
	depends on INFINIBAND_ADDR_TRANS

config INFINIBAND_IBTRS_CLIENT
	tristate "InfiniBand IBTRS client"
	depends on INFINIBAND_ADDR_TRANS
	select INFINIBAND_IBTRS
	help
	  Support for the simplified data transfer over InfiniBand.
	  The IBTRS protocol is defined by the ProfitBricks GmbH.

config INFINIBAND_IBTRS_SERVER
	tristate "InfiniBand IBTRS server"
	depends on INFINIBAND_ADDR_TRANS
	select INFINIBAND_IBTRS
	help
	  Support for the simplified data transfer over InfiniBand.
	  The IBTRS protocol is defined by the ProfitBricks GmbH.
